<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2>Author list</h2>
    </div>
  </div>
  <br>

  <div class="row">
    <!-- <div class="col-md-12"> -->
      <div class="float-right"><%= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center pagination-sm' %></div>
      <% @users.each_with_index do |user, index| %>
        <div class="col-md-2 center-text px-1">
          <div class="card user-list">
            <div class="card-body py-3">
              <a href="<%= user_path(user) %>">
                <%= gravatar_for(user) %>
                <h5 class="mt-1"><%= user.username %></h5>
                <p class="mb-0"><%= user.articles.size %> articles</p>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    <!-- </div> -->
  </div>
</div>